[Desktop Entry]
Encoding=UTF-8
Name=Dwl
Comment=Dynamic window manager (Wayland)
Exec=/etc/greetd/wsetup /etc/s6-user/start-default -w
Icon=dwl
Type=Wayland
