[Desktop Entry]
Encoding=UTF-8
Name=Dwl
Comment=Dynamic window manager (Wayland)
Exec=/etc/greetd/wsetup /etc/greetd/spawn-shell
Icon=Nu
Type=Wayland
